  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><p translate="HEADLINE"></p></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#"><span translate="ADDNOTE"></span></a></li>
          <li><a href="#" ng-click="changeLanguage('ru')">RU</a></li>
          <li><a href="#" ng-click="changeLanguage('en')">EN</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid" style="padding-top: 70px;">
    <div class="block-notes-list">
      <div class="row" ng-repeat="loadedNote in main.loadedNotes | orderBy:'id'">
        <div class="col-md-6">
          <h3>
            #{{loadedNote.id}} {{loadedNote.title}}
          </h3>
          <button class="btn btn-warning"
                  ng-click="main.getOneNote(loadedNote.id); loadedBody = loadedNote.body; showMore = ! showMore">
            <span translate="MOAR"></span>
          </button>
          <button class="btn btn-info" aria-label="Left Align" ng-click="showEditForm = ! showEditForm">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span translate="EDIT"></span>
          </button>
          <div ng-class="{ 'hidden': ! showMore }">
            <div>
              <button type="button" class="close" ng-click="showMore = ! showMore" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <span>
              <h5>
                {{loadedBody}}
              </h5>
            </span>
          </div>
        </div>
        <div class="col-md-6" ng-controller="MainController as main">
          <div ng-class="{ 'hidden': ! showEditForm }">
            <div>
              <h3>
                <span translate="EDITFORM"></span>
              </h3>
            </div>
            <label for="edited-note-title">
              <h5>
                <span translate="NOTETITLE"></span>
              </h5>
            </label>
            <input ng-init="editTitle=loadedNote.title" class="form-control" ng-model="editTitle" id="edited-note-title"/>
            <label for="edited-note-body">
              <h5>
                <span translate="NOTEBODY"></span>
              </h5>
            </label>
            <textarea ng-init="editBody=loadedNote.body" class="form-control" style="resize: none; margin-bottom: 20px;" rows="5"
                      ng-model="editBody" id="edited-note-body"/>
            <button type="button" class="btn btn-success" aria-label="Left Align" ng-click="main.updateNote(loadedNote.id)">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span translate="SAVECHANGES"></span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="main.deleteNote(loadedNote.id)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span translate="DELETENOTE"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form name="addedNote" class="form-group">
            <h3><span translate="ADDNOTE"></span></h3>
            <label for="added-note-title">
              <h5><span translate="NOTETITLE"></span></h5>
            </label>
            <input class="form-control" ng-model="noteTitle" id="added-note-title"/>
            <label for="added-note-body">
              <h5><span translate="NOTEBODY"></span></h5>
            </label>
            <textarea class="form-control" name="addedNote" rows="5" style="resize: none; margin-bottom: 20px;"
                      ng-model="noteBody" id="added-note-body" ng-maxlength="250"/>
            <div class="panel panel panel-danger" ng-show="addedNote.addedNote.$error.maxlength">
              <div class="panel-heading">
                <p class="panel-title"><span translate="ERRORWORD"></span></p>
              </div>
              <div class="panel-body">
                <span translate="ERRORPHRASE"></span>
              </div>
            </div>
            <button type="button" class="btn btn-info" ng-click="main.addNote();">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span translate="ADDNOTE"></span>
            </button>
            <button type="button" class="btn btn-info" ng-click="showAddList = ! showAddList">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
              <span translate="ADDMANYNOTES"></span>
            </button>
          </form>
          <div class="row" ng-class="{ 'hidden': ! showAddList }" ng-controller="AppController">
            <div class="col-md-6 form-group top-buffer">
                <label for="exampleInputFile"><span translate="CHOOSEFILE"></span></label>
                <input type="file" id="exampleInputFile" nv-file-select uploader="uploader"/><br/>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="item in uploader.queue">
                    <span translate="FILENAME"></span>: <span ng-bind="item.file.name"></span><br/>
                    <button class="btn btn-success" ng-click="item.upload()">
                      <span translate="UPLOADLISTNOTES"></span>
                    </button>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
